.active{
  text-decoration: line-through;
}

ul{
  height: 300px;
}

li{
  background-color: gray;
  padding: 10px 8px;
  margin-bottom: 10px;
}

div{
  width: 200px;
  height: 200px;
  background-color: aquamarine;
}
span{
  width: 20px;
  height: 20px;
  display: none;
  background-color: rgb(250, 148, 14);
  border-radius: 50%;
}